html {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 12px;
}

h1 {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.grid {
	display: grid;
	grid-template-columns: auto auto;
}

button {
	padding: 4px 8px;
}

input[type="text"] {
	padding: 8px 12px;
}

.form-block ~ .form-block {
	margin-top: 8px;
}

label {
	margin-bottom: 4px;
	display: block;
}